---
layout: page
title: Tag Index
permalink: /tags/index.html
description: "An archive of posts sorted by tag."
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<ul class="tag-box inline">
{% assign tags_list = tag_words %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
      {% if site.tags[tag].size %}
        <li><a href="#{{ tag }}">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
      {% endif %}
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag[0] }}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
</ul>

{% for tag in tag_words %}
  <h2 id="{{ tag }}">{{ tag }}</h2>
  <ul class="post-list">
      {% assign pages_list = site.tags[tag] %}
      {% for post in pages_list %}
          {% if post.title != null %}
          {% if group == null or group == post.group %}
          <li>
            <a href="{{ site.url }}{{ post.url }}">
              {{ post.title }}
              <span class="entry-date">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
              </span>
            </a>
          </li>
          {% endif %}
          {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
  </ul>
{% endfor %}