---
---

@import "variables";
@import "mixins";

@import "vendor/font-awesome";
@import "vendor/normalize";
@import "vendor/foundation";

html,
body,
.notepad-post-container,
.notepad-post-header {
  height: 100%;
}

.cf {
  @extend %notepad-clearfix;
}

body {
  font-family: $open;
  height: auto;
  min-height: 100%;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: $montserrat;
}

.notepad-parallax-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

header,
main,
footer {
  position: relative;
  z-index: 1;
}

main,
.notepad-share-icons,
.notepad-disqus {
  background: white;
}

.animated-post {
  background: transparent;
}

.notepad-blog-logo {
  display: inline-block;
  max-height: 5rem;
  padding: 15px;
  background: white;

  img {
    max-height: 5rem;
  }
}

.notepad-site-head-content {
  width: 100%;
  text-align: center;
  background-color: black;
  background-size: cover;

  &.with-bg-cover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .notepad-site-head-title-bg {
    display: inline-block;
    padding: 0.625rem;
    background: $blue;
    line-height: 1.1;
  }

  h1,
  h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
  }

  h1 {
    padding-top: 4.375rem;
    font-size: 0.875rem;
    margin-bottom: 0.9375rem;
  }

  h2 {
    font-size: 2.5rem;
    padding-bottom: 5rem;
    font-weight: 700;
    line-height: 1.3;
  }

  @include breakpoint(tablet) {
    h1 {
      padding-top: 7.5rem;
      font-size: 1rem;
    }

    h2 {
      font-size: 3.75rem;
      padding-bottom: 7.5rem;
      font-weight: 700;
    }
  }

  @include breakpoint(desktop) {
    h1 {
      padding-top: 9.375rem;
      font-size: 1rem;
    }

    h2 {
      font-size: 4.375rem;
      padding-bottom: 9.375rem;
      font-weight: 700;
    }
  }

  @include breakpoint(widescreen) {
    h1 {
      padding-top: 10.3125rem;
    }

    h2 {
      font-size: 5rem;
      padding-bottom: 10.3125rem;
    }
  }

  @include breakpoint(verywidescreen) {
    h1 {
      padding-top: 12.5rem;
    }

    h2 {
      font-size: 6.25rem;
      padding-bottom: 12.5rem;
    }
  }
}

.notepad-content .notepad-index-post {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 0.0625rem solid #d9d9d9;
}

.notepad-content .notepad-index-post:first-of-type {
  padding-top: 5rem;
}

.notepad-content .notepad-index-post .datetime {
  margin-bottom: 2.5rem;
}

@include breakpoint(tablet) {
  .notepad-content .notepad-index-post {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }

  .notepad-content .notepad-index-post:first-of-type {
    padding-top: 7.5rem;
  }

  .notepad-content .notepad-index-post .datetime {
    margin-bottom: 0;
  }
}

.notepad-content .notepad-index-post .notepad-post-meta {
  display: block;
  text-align: center;
}

.notepad-content .notepad-index-post .notepad-post-meta .day {
  display: block;
  font-size: 3.25rem;
  font-weight: 800;
  color: $blue;
  font-family: "Montserrat", sans-serif;
}

.notepad-content .notepad-index-post .notepad-post-meta .month-year {
  display: block;
  color: black;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.notepad-post-title {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.625rem;
  margin: 0;
  padding: 0;
  line-height: 1.1;


  @include breakpoint(tablet) {
    text-align: left;
    font-size: 2.125rem;
    margin-bottom: 0.9375rem;
  }

  a {
    color: black;
  }

  .post-subtitle {
    font-size: 1rem;
    text-transform: none;
    font-weight: normal;
  }
}

.notepad-post-excerpt {
  color: black;
  font-size: 1.25rem;
  margin-top: 0.625rem;
  text-align: center;

  @include breakpoint(tablet) {
    text-align: left;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
  }
}

.notepad-content .notepad-index-post .notepad-index-post-tags {
  font-size: 0.8125rem;
  float: none;
  color: black;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}

.notepad-content .notepad-index-post .notepad-index-post-tags a {
  display: inline-block;
  padding: 0.3125rem 0.9375rem;
  margin-right: 0.1875rem;
  color: black;
  border: 0.0625rem solid black;
  border-radius: 0.125rem;
  margin-bottom: 0.3125rem;
}

.notepad-content .notepad-index-post .notepad-index-post-tags a:hover {
  color: $blue;
  border: 0.0625rem solid $blue;
}

@include breakpoint(tablet) {
  .notepad-content .notepad-index-post .notepad-index-post-tags {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    text-align: left;
    float: left;
  }
}

.notepad-content .notepad-index-post .notepad-post-read-more {
  display: block;
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5625rem;
  font-size: 0.8125rem;
  color: white;
  background-color: black;
  font-weight: 600;
  padding: 0.625rem 2.5rem;
  text-transform: uppercase;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  width: 60%;
  border-radius: 0.125rem;
}

.notepad-content .notepad-index-post .notepad-post-read-more:hover {
  background-color: $blue;
}

@include breakpoint(tablet) {
  .notepad-content .notepad-index-post .notepad-post-read-more {
    width: auto;
    float: left;
    margin-left: 0;
    margin-right: 0.3125rem;
  }
}

nav.pagination {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  text-align: center;

  .newer-posts,
  .older-posts,
  .page-number {
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border-radius: 0.1875rem;
    color: black;
    border: 0.125rem solid black;
  }

  .newer-posts,
  .older-posts {
    &:hover {
      border: 0.125rem solid $blue;
      color: $blue;
    }

    &.faded {
      color: gray;
      border: 0.125rem solid gray;

      a {
        color: gray;
      }
    }
  }

  .newer-posts .fa {
    margin-right: 0.625rem;
  }

  .older-posts .fa {
    margin-left: 0.625rem;
  }

}

.fadeInDown {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.tag-template .notepad-index-post:first-of-type {
  padding-top: 3.125rem;
}

@include breakpoint(tablet) {
  .tag-template .notepad-index-post:first-of-type {
    padding-top: 4.6875rem;
  }
}

.notepad-tags-container {
  background: $white-off;
}

.notepad-tags-container .notepad-tags-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: black;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  text-align: center;
}

.notepad-tags-container .notepad-tags-header .tag-name {
  color: $blue;
  text-transform: none;
}

@include breakpoint(tablet) {
  .notepad-tags-container .notepad-tags-header {
    font-size: 1.5625rem;
  }
}

figure {
  @extend %notepad-clearfix;
  margin: 0;
  *zoom: 1;

  img {
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
  }

  a img {
    filter: none; /* IE6-9 */
    -webkit-filter: brightness(100%); /* Google Chrome & Safari 6+ */

    &:hover {
      filter: none;
      -webkit-filter: brightness(130%);
    }
  }
}

@include breakpoint(laptop) {
  figure.half img {
    float: left;
    width: 49%;
    margin-right: 0.5%;
    margin-left: 0.5%;
  }

  figure.half figcaption {
    clear: left;
  }

  figure.third img {
    float: left;
    width: 32.3%;
    margin-right: 0.5%;
    margin-left: 0.5%;
  }

  figure.third figcaption {
    clear: left;
  }
}

svg:not(:root) {
  overflow: hidden;
}

figcaption {
  padding-top: 0.625rem;
  padding-bottom: 2.125rem;
  text-align: center;
  font-size: 0.875rem;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

.notice {
  padding: .5em 1em;
  margin-top: 1.5em;
  text-indent: 0;
  background-color: $white-off;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@import "post";
@import "components/search";
@import "components/nav";
@import "components/footer";
@import "components/author";
@import "components/post-list";
@import "components/code";

@import "print";