.search-form {
  margin: 0;
  display: inline-block;

  label {
    @extend %element-invisible;
  }

  .search-text {
    float: left;
    width: 12rem;
    margin: 0;
  }

  .search-submit {
    float: left;
    padding: 0.6rem 0.4rem 0.6rem 0.6rem;
    margin: 0;

    span {
      text-indent: -9999px;
      display: inline-block;
      line-height: 0;
    }
  }
}
